@media ( max-width: 1199px )
    .promo
        &_subtitle
            font-size: 65px
            line-height: 65px
            &::before
                width: 220px
                top: 32px
                left: 10px
            &::after    
                width: 220px
                top: 32px
                right: 10px
    .waiting
        &_descr
            margin: 33px auto 0 auto
            width: 450px
            font-size: 20px
    .optimization
        &_wrapper
            width: 650px
        &_img
            left: -290px
        &_title
            font-size: 25px
        &_descr
            margin-top: 22px
            font-size: 15px
            line-height: 20px
    .finished
        &_descr
            font-size: 15px
    .gift
        &_descr
            font-size: 25px

@media (max-width:991px)
    .promo
        &_title
            font-size: 35px
        &_subtitle
            font-size: 50px
            line-height: 50px
            &::before
                width: 150px
                top: 23px
                left: 10px
            &::after    
                width: 150px
                top: 23px
                right: 10px
    .optimization
        img
            display: none
        &_wrapper
            position: relative
            width: 100%
        &_descr
            font-size: 17px
    .finished
        &_wrapper
            margin-top: 21px
            flex-wrap: wrap
            justify-content: center
        &_inner
            margin-top: 20px
        &_descr
            font-size: 17px
    .gift
        &_descr
            font-size: 20px
            line-height: 35px

@media (max-width:767px)
    .promo
        &_title
            font-size: 25px
        &_subtitle
            font-size: 35px
            line-height: 35px
            &::before
                width: 110px
                top: 15px
                left: 15px
            &::after    
                width: 110px
                top: 15px
                right: 15px
        &_text
            font-size: 17px
            line-height: 25px
        &_btn
            margin-top: 50px
            width: 300px
            height: 70px
            font-size: 19px